* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: cornsilk;
}
.cards {
  float: left;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 20px 50px;
}

.card {
  width: 300px;
  height: auto;
  margin: 30px auto;
  box-shadow: 0 3rem 4rem -7px chocolate;
  background-color: burlywood;
  border-radius: 20px 20px 20px 20px;
}

.card img {
  display: block;
  width: 100%;
  height: 10rem;
  border-radius: 20px 20px 0px 0px;
}

.card_info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2rem;
  font-weight: bold;
}

.card_info button {
  width: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px 10px;
  font-size: 16px;
  font-weight: bold;
}
